* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* -----------header styles------ */

.header{
    background-image: url('images/banner/banner1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 850px;
    text-align: right;
    color: black;
}
.header-content{
    padding-top: 125px;
    padding-right: 100px;
}
.header-title{
    font-size: 75px;
}
.header-description{
    font-size: 20px;
    margin-top: 30px;
}

.btn-primary{
    color: white;
    background-color: #F15B22;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px 15px;
    border: 0;
}

/* -------------------header end------------------- */

/* --------------main section----------- */

.main-section{
    display: flex;
    margin-top: 150px;
}
.failure-area{
    
}